*{
    font-family: arial;
    box-sizing: border-box;
    outline: none;
    color: #1b1b1b;
    padding: 0;
}
body{
    padding: 20px;
    font-size: 18px;
}
h1{
    color: #5b2b0c;
}
form{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #5b2b0c;
}
img{
    width: 800px;
    height: 600px;
}
input{
    width: 300px;
    height: 30px;
}
.title{
    display: inline-block;
    width: 250px;
}
.info{
    margin: 30px 0;
}
.info a{
    margin-right: 20px;
}
.city{
    outline: none;
    width: 300px;
    height: 30px;
}
.choose{
    width: 40px;
    height: 15px;
}
textarea{
    resize: none;
}
button{
    border: none;
    width: auto;
}
button a{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border:1px solid #5b2b0c;
}
button a:hover{
    background-color: #5b2b0c;
    border:1px solid #5b2b0c;
    font-size: 18px;
    transition: all 0.3s;
    color: white;
}

.list li{
    display: inline-block;
}
.list li a{
    margin: 20px 40px 20px 0px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    color: #1b1b1b;
}

.list li:hover a{
    color: #5b2b0c;
    border-bottom: 2px solid #5b2b0c;
    transition: all 0.3s;
}
.account h1{
    color: #1b1b1b;
}
.account{
    background-image: url('Pictures/Ротко_фон.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.account .page_5{
    width: 750px;
    padding: 20px;
    border: 1px solid #1b1b1b;
    border-radius: 25px;
}
.small_text{
    font-size: 14px;
}
.article .block{
    margin-bottom: 80px;
}
.article .block img{
    width: 400px;
    height: 300px;
}
.sidebar{
    height: 944px;
}
.slider{
    position: relative;
    height: 500px;
    overflow: hidden;
}
.slider img.active{
    opacity: 1;
    top: 0;
    transition: opacity 2s;
}
.slider img{
    position: absolute;
    opacity: 0;
    top: -10000px;
    left: 0;
    width: 100%;
    height: auto;
}
.nav-container{
    display: flex;
    justify-content: center;

}
.nav-container li{
    list-style-type: none;
}
.nav-container li{
    position: relative;
}
.nav-container li .hidden-menu{
    position: absolute;
    opacity: 0;
    top: -10000px;
}
.nav-container li:hover .hidden-menu{
    opacity: 1;
    top: 80px;
}
.nav-container li a{
    display: block;
    margin: 30px;
    padding: 15px 20px;
    background-color: #ffd7bb;
    width: 180px;
    text-align: center;
}
.nav-container li a:hover{
    color: white;
    background-color: #5b2b0c;
    transition: all 0.3s;
}
.hidden-menu{
    position: absolute;
    left: 30px;
}
.hidden-menu li a{
    width: auto;
    margin: 0;
    padding: 10px;
}
.conditions a{
   text-decoration: underline;
}
.pop-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100000px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    opacity: 0;

}
.pop-wrapper:target{
    opacity: 1;
    left: 0;

}
.pop-up{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    min-height: 200px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.79);
}
.pop-up .close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 0;
}
.pop-up button{
    width: 100px;
}
