*{
    font-family: arial;
    box-sizing: border-box;
    outline: none;
    color: #1b1b1b;
    padding: 0;
}
body{
    padding: 20px;
    font-size: 18px;
}
h1{
    color: #5b2b0c;
}
form{
    margin-top: 30px;
}
a{
    text-decoration: none;
    color: #5b2b0c;
}
img{
    width: 800px;
    height: 600px;
}
input{
    width: 300px;
    height: 30px;
}
.title{
    display: inline-block;
    width: 250px;
}
.info{
    margin: 30px 0;
}
.info a{
    margin-right: 20px;
}
.city{
    outline: none;
    width: 300px;
    height: 30px;
}
.choose{
    width: 40px;
    height: 15px;
}
textarea{
    resize: none;
}
button{
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border:1px solid #5b2b0c;
}
button:hover{
    background-color: #5b2b0c;
    border:1px solid #5b2b0c;
    font-size: 18px;
    transition: all 0.3s;
    color: white;
}
button:hover a{
    color: white;
    transition: all 0.3s;
}
.list li{
    display: inline-block;
}
.list li a{
    margin: 20px 40px 20px 0px;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    color: #1b1b1b;
}

.list li:hover a{
    color: #5b2b0c;
    border-bottom: 2px solid #5b2b0c;
    transition: all 0.3s;
}
.account h1{
    color: #1b1b1b;
}
.account{
    background-image: url('Pictures/Ротко_фон.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.account .page_5{
    width: 750px;
    padding: 20px;
    border: 1px solid #1b1b1b;
    border-radius: 25px;
}
.small_text{
    font-size: 14px;
}
.article .block{
    margin-bottom: 80px;
}
.article .block img{
    width: 400px;
    height: 300px;
}
.sidebar{
    height: 944px;
}
.slider{
    position: relative;
    height: 500px;
    overflow: hidden;
}
.slider img.active{
    opacity: 1;
    top: 0;
    transition: opacity 2s;
}
.slider img{
    position: absolute;
    opacity: 0;
    top: -10000px;
    left: 0;
    width: 100%;
    height: auto;
}
